# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
appsettings.json


# VS Code
.vscode/

# Visual Studio
.vs/

# Others
*.log
*.db
*.DS_Store
*.env

# ASP.NET sensitive config
secrets.json
appsettings.Development.json

# NuGet packages
*.nupkg
*.snupkg
